body{
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
   
}
.wrap{
    background: url(asses/bg-01.jpg) no-repeat 0 50% fixed;
    background-size: cover;
}


/* --------------header--------------------------------------- */

header{
    background-color: rgb(35, 35, 35);
    min-height: 70px;
    max-height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.content{
    /* 所有的內容寬度 */
    max-width: 1140px;
    min-width: 576px;
    width: 82%;
    /* max-width: 960px; */
    margin: auto;
}
header .school-logo{
    float: left;
    margin-top: 20px;
    /* max-width: 260px; */
    min-width: 100px;
    /* margin-left: 10px; */
}
header .school-logo img{
    width: 35%;
}

header .right{
    float: right;
    
}

header a{
    color: #fff;
    text-decoration: none;
}
header ul li{
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    /* float: left; */
    display: inline-block;
    margin-right: 1.5em;
    line-height: 70px;
    font-weight: 900;
    vertical-align: middle;
    
}
header ul li img{
    /* margin-top: 30px; */
    /* width: 100%; */
    width: 35px;
    vertical-align: middle;
    margin-bottom: 5px;



}
header .btn1{
    background-color: #ff8200;
    padding: 1px 15px;
    line-height: 30px;
    /* margin-top: 20px; */
    border-radius: 30px;
}


/* 防疫事項 */
/* -------------covid---------------------------------- */
.covid{
    padding: 80px 0 15px 0;
    color: #000;
    background-color: #ccc;
    font-size: 1.4em;
    font-weight: 900;
    /* text-align: center; */
    margin: auto;
    /* padding-top: 20px; */
    /* list-style-type: none; */
}
.covid p{
    padding-top: 15px;
    font-size: .63em;
    line-height: 22px;
    font-weight: 700;
}
.covid .covid-top{
    width: 1140px;
    margin: auto;
}



/* -----------herosection--------------------------------------------- */


.herosection{
    /* height: 500px; */
    width: 1140px;
    margin: auto;
    padding-top: 130px;
    text-align: center;
    /* margin-bottom: 100px; */
    padding-bottom: 7rem;
}
.herosection img{
    max-width: 900px;

}
.herosection h2{
    font-size: 1.75em;
    padding: 10px 0;
    color: #fff;
    font-weight: 700;
}
.herosection h2 span{
    /* font-size: 1em; */
    color: rgb(235, 67, 37);
    background-color: #fff;
    padding: .5px 5px;
    margin-left: -3px;
    font-size: 900;
}
.herosection p{
    font-size: 1.4em;
    line-height: 1.2;
    padding: 15px 0 0;
    color: #fff;
    font-weight: 600;
}



/* -----------date--------------------------------------------- */

.date{
    width: 100%;
    background-color: #ffdb00;

}
.date-content{
    width: 1140px;
    margin: auto;
}
.date p{
    color: #232323;
    font-size: 1.5em;
    letter-spacing: -1px;
    padding: 15px 0;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}



/* ------------icontop------------------------------------------------------- */

.icontop{
    background-color: #232323;
    color: #fff;
    font-weight: 700;
    text-align: center;
    /* line-height: ; */
    padding-top: 30px;
    vertical-align: middle;
}
.icontop h2{
    font-size: 2.25rem;
    text-align: center;
    padding: 2rem 0;
}
.icon1{
    display: inline-block;
    width: 350px;
    text-align: center;
    padding: 20px;
    /* margin-left: 30px; */
}

.icon1 h3, .icon2 h3, .icon3 h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
    
}
.icon1 img, .icon2 img, .icon3 img{
    width: 60px;
    margin: 10px 0;
}
.icon1 p, .icon2 p, .icon3 p{
    width: 350px;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 50px;
    padding: 20px 0;
} 
.icon2{
    display: inline-block;
    width: 350px;
    text-align: center;
    padding: 20px;
    margin-top: 1rem;
}
.icon3{
    display: inline-block;
    width: 350px;
    text-align: center;
    padding: 20px;
    /* margin-bottom: 20rem; */
}



/* -------speaker_info------------------------------------------------------ */

/* 講者的最外層 */
.speaker_info{
    margin: auto;
    max-width: 1000px;
    color: #fff;
    /* overflow: auto; */
    z-index: 2;
    padding-bottom: 5px;
}


/* 圖文水平對齊的框架 */
.speaker_top{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1040px;
    margin: auto;
    margin-bottom: 80px;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
}
.speaker_top_2{
    display: flex;
    position: relative;
    align-items: center;
    align-content: space-between;
    width: 100%;
    max-width: 1040px;
    margin: auto;
    margin-bottom: 80px;
    flex-direction: row-reverse;

}

/* 包圖片的框架 */
.speaker_info .photo{
    text-align: center;
    width: 100%;
    max-width: 400px;
    display: inline-block;
    position: relative;
}
























/* ---------文字樣式--------------------------------------------------------------- */



/* 講者主題文字樣式 */
.speaker_info .speaker{
    float: left;
    /* margin-right: 50px; */
    margin-top: 10px;
}

.speaker_info h2{
    font-size: 2.2em;
    text-align: center;
    font-weight: 900;
    padding: 30px;
    margin-top: 20px;
}
.speaker_info h4{
    font-size: 1.5em;
    padding: 15px 0;

}
.speaker_info h4 span{
    font-size: 1.6em;
    font-size: 700;
    margin-right: 10px;
    
    
}
.speaker_info h5{
    font-size: 1.8em;
    font-weight: 900;
    padding: 10px 0;
}
.speaker_info h3{
    margin: 7px 0;
    font-size: 1.75em;
    color: rgb(235, 67, 37);
    font-weight: 900;
    padding: 10px 100px 10px 7px;
    background-image: linear-gradient( 90deg ,#ffffff , #ffffff , rgb(66, 178, 169, 0));
    /* background-color: #fff; */
    /* width: 600px; */
}
.speaker_info ul{
    /* list-style-type: disc; */
    font-size: 1.375em;
    line-height: 1.5;
    font-weight: 600;
    padding: 10px 30px;
    list-style-type: disc;

}
.speaker_info ul li{
    padding: 2px 0;

}
.speaker_info .tag{
    display: inline-block;
    font-size: 1.1em;
    /* width: 100px; */
    text-align: center;
    font-weight: 900;
    padding: 4px 17px;
    margin: 5px -1px;
    color: #00bbe9;
    background-color: #fff;
    border: solid 2.5px;
    border-radius: 20px;
    /* line-height: 1em; */
}





/* ----------講者照片右下文字---------- */
.under-name{
    width: 100%;
    max-width: 500px;
    display: inline-flex;
    position: absolute;
    right: 0;
    text-align: left;
    bottom: -15%;
    flex-direction: column;
    align-items: flex-end;
}
.under-name_2{
    width: 100%;
    max-width: 500px;
    display: inline-flex;
    position: absolute;
    right: 0;
    text-align: left;
    bottom: -15%;
    flex-direction: column;
    align-items: flex-start;
}
/* 講者姓名 */
.speaker_info .name-h4{
    font-weight: 700;
    color: #fff;
    /* width: 80px; */
    text-align: center;
    padding: 8px 2px;
    background-color: #00bbe9;
    margin: 2px 0;
}
/* 講者職位 */
.speaker_info .name-h5{
    /* width: 100px; */
    font-size: 1em;
    color: #fff;
    background-color: #00bbe9;
    margin: 3px 0;
}
/* 看講師介紹 */
.speaker_info .intro{
    background-color: #232323;
    line-height: 1.5em;
    padding: 6px;
    margin: 3px 0;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}





/* ---------------location------------------------------------ */

.location{
    width: 100%;
    /* clear: both; */
    background-color: #00bbe9;
    margin-top: 100px;
    padding-bottom: 60px;
    color: #fff;
    overflow: auto;
    /* padding-bottom: 300px; */
}
.location .location-content{
    width: 500px;
    padding: 0 30px;
    /* 設定範圍60%後，要用marfin:auto壓進來 */
    margin: auto;
    float: left;
    overflow: auto;
    margin-right: 20px;
}
.location-top{
    width: 1140px;
    margin: auto;
    /* margin-left: 200px; */
}
.location h2{
    color: #fff;
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
}
.location h3{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2em;
    padding-top: 30px;
    letter-spacing: -1px;

}
.location h4{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2em;
    padding: 5px 0;
    letter-spacing: -1px;
}
.location h4 span{
    font-size: .8em;
    font-weight: 700;
    vertical-align: middle;
    line-height: 1.2em;
    padding: 5px 0;
    letter-spacing: -1px;
}
.location p{
    font-size: 1em;
    line-height: 1.4em;
    margin-top: 10px;
    margin-bottom: 50px;
}
.location p span{
    color: rgb(207, 88, 41);
    
}


.location table{
    background-color: #fff;
    color: #000;
    font-weight: 900;
}
.location .price table th{
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 40px 20px;
    text-align: center;
}
.location .price table td{
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 30px;
    text-align: center;
}

.location .y{
    background-color: #ffdb00;
}

.location table td span{
    font-size: 2em;
} 
.location .btn{
    clear: both;
    width: 200px;
    background-color: #ff8200;
    font-size: 1.4em;
    text-align: center;
    margin: auto;
    padding: 15px 0;
    font-weight: 900;
    /* line-height: 10px; */
    /* margin-top: 20px; */
    border-radius: 30px;
}

/* ------read------------------------------ */
.read{
    color: #000;
    width: 100%;
    margin: auto;
    background-color: #fff;
    /* overflow: auto; */
    padding-bottom: 40px;
}
.read-top{
    max-width: 1140px;
    margin: auto;
    padding-left: 200px;
}
.read h2{
    color: #000;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}
.read figure{
    margin: auto;
    display: inline-block;
    margin-right: 25px;
    /* vertical-align: middle; */
    
}
figure .imgbiger{
    width: 270px;
}
figcaption{
    width: 280px;
    margin-top: 10px;
    line-height: 1.5em;
    font-weight: 700;
}
.read figure img{
    height: 180px;
    width: 300px;
}


/* -------q----------------------------- */
.q{
    clear: both;
    color: #fff;
    font-weight: 900;
    margin-bottom: 50px;
}
.q .q-top{
    max-width: 1140px;
    margin: auto;
}
.q h2{
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}
.q .little_q h3{
    font-size: 1.5em;
    line-height: 2em;
    font-size: 900;

}
.q .little_q p{
    font-size: 1em;
    line-height: 1.8em;
    font-size: 900;
    margin-bottom: 20px;

}
.q span a{
    color: #ffdb00;
    text-decoration: none;
    

}


/* ---------footer----------------------------------------- */


footer{
    color: #fff;
    background-color: #000;
    width: 100%;
    margin: auto;
    /* overflow: auto; */
    text-decoration: none;
}
footer .footer-top{
    max-width: 1140px;
    margin: auto;
}
.ul-top{
    width: 60%;
    margin: auto;
}
footer ul{
    width: 1140px;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 1.3em;
    padding-top: 20px;
    /* margin: auto; */
    
}
footer ul li{
    text-align: center;
    color: #fff;
    float: left;
    /* margin: auto; */
    margin-right: 20px;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer p{
    clear: both;
    text-align: center;
    padding: 20px 0;
} 


/* --------up------------------------------------- */

.btn-up{
    width: 60px;
    height: 60px;
    /* color: #ffffff; */
    background-color: #e15030cc;
    text-align: center;
    /* line-height: 70px; */
    border-radius: 50%;
    float: right;
    right: 30px;
    position: fixed;
    right: 20px;
    bottom: 15px;
}
.btn-up i{
    color: #fff;
    font-size: 3em;
    padding-left: 1px;
    padding-top: 4px;
    
    
}